<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>230022080999-l44u04lhra7lncrloa2ht6i6jame3joa.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.230022080999-l44u04lhra7lncrloa2ht6i6jame3joa</string>
        <key>API_KEY</key>
        <string>AIzaSyDOFWi1_c07L6F29Bu_Og42djEakNoHC_U</string>
        <key>GCM_SENDER_ID</key>
        <string>230022080999</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.g7.chatspot.v1</string>
        <key>PROJECT_ID</key>
        <string>chatspot-ab2bf</string>
        <key>STORAGE_BUCKET</key>
        <string>chatspot-ab2bf.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:230022080999:ios:43cbe6dc245b93b4</string>
        <key>DATABASE_URL</key>
        <string>https://chatspot-ab2bf.firebaseio.com</string>
    </dict>
</plist>
